.logo_top {
    color: #FFFFFF;
    padding-top: 0.5em;
    font-weight: 700;
}

.login_area {
    margin-top: 10rem;
    min-width: 70vw;
}

.btn_action {
    width: 100%;
    background-color: rgba(236, 150, 1);
    font-weight: 700;
    border: none;
}

